@font-face {
  font-family: "Geologica";
  src: url("../assets/fonts/Geologica-Thin.woff2") format("woff2");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets//assets/fonts/GeologicaRoman-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Angst";
  src: url("./assets/fonts/Angst-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-white: rgba(255, 253, 247, 1);
  --color-blue: rgba(40, 59, 108, 1);
  --color-black: rgba(62, 62, 62, 1);
  --color-hover: rgba(104, 131, 199, 1);
  --anim: all 0.5s ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: Angst, sans-serif;
}

body {
  font-family: Geologica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 35px;
}

.header__inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}

.header__logo {
  height: 40px;
}

.header__container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.header__btn {
  width: 30px;
  height: 26px;
  position: relative;
  flex-shrink: 0;
  display: block;
}

.header__btn span {
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__btn::after,
.header__btn::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.header__btn::after {
  top: 0;
}

.header__btn::before {
  bottom: 0;
}

.header__logo svg path {
  fill: var(--color-blue);
  transition: var(--anim);
}

.header__logo:hover svg path,
.footer__logo:hover svg path {
  fill: var(--color-hover);
  transition: var(--anim);
}

.header__logo:hover svg rect:not(.svg-bg),
.footer__logo:hover svg rect:not(.svg-bg) {
  fill: var(--color-hover);
  transition: var(--anim);
}

.header__logo:hover svg .svg-bg,
.footer__logo:hover svg .svg-bg {
  stroke: var(--color-hover);
  transition: var(--anim);
}

.footer__link:hover svg path {
  fill: var(--color-hover);
  transition: var(--anim);
}

.header__nav {
  position: absolute;

  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: var(--color-white);
  transition: var(--anim);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 140px;
  padding-left: 35px;
}

header.active .header__nav {
  transform: translateX(0);
  transition: var(--anim);
}

header.active .header__inner-container {
  box-shadow: 0px 4px 21.4px 0px rgba(14, 14, 14, 0.06);
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.header__nav-list a {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  padding: 0 5px;
  color: var(--color-blue);
  text-transform: uppercase;
}

.header__nav-list .haeder__navLink--lk {
  color: rgba(206, 182, 0, 1);
  display: flex;
  column-gap: 10px;
}

.header__nav-social {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-top: 80px;
}

.title {
  font-family: Angst;
  font-size: 35px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 20px;
}

.intro {
  background-color: #dfe1e1;
  min-height: 370px;
}

.intro__wrapper-img {
  display: flex;
  justify-content: center;
  margin-left: -35px;
  margin-right: -35px;
}

.intro__bg {
  background-color: white;
  margin-left: -35px;
  margin-right: -35px;
}

.intro__text-container {
  background: rgba(255, 253, 247, 0.5);
  margin-left: -35px;
  margin-right: -35px;
}

.intro__img {
  width: 100%;
  height: 100%;
}

.intro__title {
  max-width: 436px;
  margin-bottom: 20px;
}

.intro__inner-text-container {
  padding: 50px 70px 0;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.about {
  padding: 80px 0;
}

.about__wrapper-text {
  max-width: 660px;
  width: 100%;
}

.about__img {
  width: 260px;
  height: 260px;
}

.text {
  font-family: Geologica;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}

.about-description {
  background-image: url("./assets/img/bg-about-description.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about-description__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 50px;
  padding: 40px 0;
  width: 100%;
}

.about-description__wrapper-text {
  max-width: 660px;
}

.about-description__img {
  width: 318px;
  height: 340px;
  margin-bottom: 50px;
}

.reviews {
  padding: 100px 0 0;
}

.reviews__title {
  font-family: Angst;
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 50px;
}

.reviews__list .swiper-slide {
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 0px 34.7px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 66px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.reviews__img {
  width: 104px;
  height: 104px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
}

.reviews__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__name {
  font-size: 30px;
  font-weight: 700;
  line-height: 39.84px;
  color: var(--color-blue);
  margin-bottom: 15px;
}

.reviews__text {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
  text-align: center;
  color: var(--color-blue);
}

.review__container {
  border-bottom: 1px dashed rgba(104, 131, 199, 1);
}

.order {
  padding: 100px 0 190px;
}

.order__wrapper {
  max-width: 640px;
}

.order__links {
  margin-top: 50px;
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.oreder__flex {
  display: flex;
  align-items: center;
  column-gap: 160px;
}

.order__link {
  min-width: 215px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-blue);
  border: 1px solid rgba(40, 59, 108, 1);
  border-radius: 25px;
  text-transform: uppercase;
}

.footer {
  background-color: var(--color-blue);
}

.footer__container {
  display: flex;
  align-items: center;
  padding: 50px 0 35px;
}

.footer__logo {
  margin-right: 84px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.footer__copyright {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: right;
  color: rgba(255, 253, 247, 1);
  margin-left: auto;
  align-self: flex-end;
}

a:hover {
  color: var(--color-hover);
  transition: var(--anim);
}

@media (min-width: 600px) {
  .container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 35px;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.02em;
  }

  .about__img {
    width: 100%;
    max-width: 540px;
    height: auto;
  }

  .about-description__img {
    width: 100%;
    max-width: 470px;
    height: auto;
    margin-bottom: 0;
  }

  .about {
    padding: 100px 0;
  }

  .about-description__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 130px;
  }

  .reviews__list .swiper-slide {
    max-width: 380px;
    box-shadow: 0px 0px 34.7px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 66px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
  }
}

@media (min-width: 1110px) {
  .header__inner-container {
    padding: 0;
  }

  .header__btn {
    display: none;
  }

  .header__nav {
    position: static;
    width: auto;
    transform: translate(0);
  }

  .header__nav-list {
    flex-direction: row;
    column-gap: 25px;
    display: flex;
  }

  .header__nav-social {
    display: none;
  }

  .header__nav {
    padding: 0;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding: 15px;
  }

  .intro {
    padding-top: 235px;
  }

  .intro__text {
    max-width: 436px;
  }

  .intro__bg {
    background-color: transparent;
  }

  .intro__text-container {
    background: transparent;
    position: relative;
    z-index: 1;
  }

  .intro__wrapper-img {
    margin: 0;
    position: absolute;
  }

  .intro__inner-text-container {
    padding: 0;
    padding-top: 265px;
  }

  .intro {
    min-height: 710px;
    padding-top: 0;
  }

  .swiper {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-description__wrapper {
    padding: 40px 0;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
