@font-face {
  font-family: "Geologica";
  src: url("../assets/fonts/Geologica-Thin.woff2") format("woff2");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets//assets/fonts/GeologicaRoman-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/GeologicaRoman-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Angst";
  src: url("./assets/fonts/Angst-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/geologica-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-white: rgba(255, 253, 247, 1);
  --color-blue: rgba(40, 59, 108, 1);
  --color-black: rgba(62, 62, 62, 1);
  --color-hover: rgba(104, 131, 199, 1);
  --anim: all 0.5s ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: Angst, sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: Geologica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}

.header__logo {
  height: 40px;
}

.header__container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

header.active .header__container {
  overflow: visible;
}

.header__btn {
  width: 30px;
  height: 26px;
  position: relative;
  flex-shrink: 0;
  display: block;
}

.header__btn span {
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__btn::after,
.header__btn::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.header__btn::after {
  top: 0;
}

.header__btn::before {
  bottom: 0;
}

.header__logo svg path {
  fill: var(--color-blue);
  transition: var(--anim);
}

.header__logo:hover svg path,
.footer__logo:hover svg path {
  fill: var(--color-hover);
  transition: var(--anim);
}

.header__logo:hover svg rect:not(.svg-bg),
.footer__logo:hover svg rect:not(.svg-bg) {
  fill: var(--color-hover);
  transition: var(--anim);
}

.header__logo:hover svg .svg-bg,
.footer__logo:hover svg .svg-bg {
  stroke: var(--color-hover);
  transition: var(--anim);
}

.footer__link:hover svg path {
  fill: var(--color-hover);
  transition: var(--anim);
}

.header__nav {
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: var(--color-white);
  transition: var(--anim);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 140px;
  padding-left: 35px;
}

header.active .header__nav {
  transform: translateX(0);
  transition: var(--anim);
}

header.active .header__inner-container {
  box-shadow: 0px 4px 21.4px 0px rgba(14, 14, 14, 0.06);
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.header__nav-list a {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  padding: 0 5px;
  color: var(--color-blue);
  text-transform: uppercase;
}

.header__nav-list .haeder__navLink--lk {
  color: rgba(206, 182, 0, 1);
  display: flex;
  column-gap: 10px;
  transition: var(--anim);
}

.header__nav-list .haeder__navLink--lk svg {
  width: 24px;
  height: 24px;
}

.header__nav-list .haeder__navLink--lk:hover {
  color: var(--color-hover);
  transition: var(--anim);
}

.header__nav-social {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-top: 80px;
}

.title {
  font-family: Angst;
  font-size: 35px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 20px;
}

.intro {
  background-color: #dfe1e1;
  min-height: 370px;
}

.intro__wrapper-img {
  display: flex;
  justify-content: center;
  /* margin-left: -35px;
  margin-right: -35px; */
}

.intro__bg {
  background-color: white;
  margin-left: -20px;
  margin-right: -20px;
}

.intro__text-container {
  background: rgba(255, 253, 247, 0.5);
}

.intro__img {
  width: 100%;
  height: 100%;
}

.intro__title {
  max-width: 436px;
  margin-bottom: 20px;
}

.intro__inner-text-container {
  padding: 50px 20px 0;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.about {
  padding: 80px 0;
}

.about__wrapper-text {
  max-width: 660px;
  width: 100%;
}

.about__img {
  width: 260px;
  height: 260px;
}

.text {
  font-family: Geologica;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}

.about-description {
  background-image: url("./assets/img/bg-about-description.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about-description__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 50px;
  padding: 40px 0;
  width: 100%;
}

.about-description__wrapper-text {
  max-width: 660px;
}

.about-description__img {
  width: 318px;
  height: 340px;
  margin-bottom: 50px;
}

.reviews {
  padding: 60px 0 0;
}

.reviews__title {
  font-family: Angst;
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 50px;
}

.reviews__list .swiper-slide {
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 0px 34.7px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 66px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.reviews__img {
  width: 104px;
  height: 104px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
}

.reviews__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__name {
  font-size: 30px;
  font-weight: 700;
  line-height: 39.84px;
  color: var(--color-blue);
  margin-bottom: 15px;
}

.reviews__text {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
  text-align: center;
  color: var(--color-blue);
}

.review__container {
  border-bottom: 1px dashed rgba(104, 131, 199, 1);
  padding-right: 0;
  padding-bottom: 40px;
}

.order {
  padding: 60px 0 50px;
}

.order__links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 25px;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 50px;
}

.order__link {
  width: 100%;
  max-width: 360px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-blue);
  display: block;
  border-radius: 25px;
  text-transform: uppercase;
  transition: var(--anim);
}

.order__link--ozon {
  border: 1px solid rgba(29, 92, 254, 1);
}

.order__link--ozon span {
  background: linear-gradient(90deg, #1d5cfe 0%, #002584 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.order__link--ozon:hover {
  background: #1d5cfe;
  background-image: linear-gradient(90deg, #1d5cfe 0%, #002584 100%);
  transition: background-color 0.3s ease;
  color: rgba(255, 253, 247, 1);
}

.order__link:hover span {
  color: rgba(255, 253, 247, 1);
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 253, 247, 1);
  transition: var(--anim);
}

.order__link--wb span {
  background: linear-gradient(80.01deg, #776bff 7.28%, #000d80 160.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-color 0.3s ease;
}

.order__link--wb {
  border: 1px solid rgba(119, 107, 255, 1);
}

.order__link--wb:hover {
  background: #776bff;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(80.01deg, #776bff 7.28%, #000d80 160.88%);
  color: rgba(255, 253, 247, 1);
}

.order__link--mark span {
  background-image: linear-gradient(80.01deg, #fa9a0b 7.28%, #f03810 160.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: var(--anim);
}

.order__link--mark {
  border: 1px solid rgba(250, 154, 11, 1);
}

.order__link--mark:hover {
  background: #fa9a0b;
  transition: var(--anim);
  background-image: linear-gradient(80.01deg, #fa9a0b 7.28%, #f03810 160.88%);
  color: rgba(255, 253, 247, 1);
}

.footer {
  background-color: var(--color-blue);
}

.footer__container {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
  padding: 40px 35px 20px;
}

.footer__lk {
  display: none;
}

.footer__logo {
  grid-column: 1/-1;
  margin: 0 auto;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.footer__copyright {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: right;
  color: rgba(255, 253, 247, 1);
  margin-left: auto;
  align-self: flex-end;
  width: 100%;
  margin-top: 40px;
  grid-column: 1/-1;
  grid-row: 3/4;
  text-align: center;
  margin-top: 40px;
}

a:hover {
  color: var(--color-hover);
  transition: var(--anim);
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.order__inner-wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.form-callback {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  border-radius: 20px;
  padding: 40px 30px;
  background: rgba(255, 253, 247, 1);
  box-shadow: 0px 0px 34.7px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-callback__title {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.form-callback__inner-wrapper {
  margin-bottom: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-callback__inner-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-callback__inner-wrapper label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-callback__inner-wrapper label span {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(40, 59, 108, 1);
  margin-bottom: 10px;
}

.form-callback__police {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.form-callback__police a {
  display: inline;
}

.footer__lk {
  color: rgba(206, 182, 0, 1);
  column-gap: 10px;
  transition: var(--anim);
  font-family: Geologica;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.footer__lk svg {
  width: 24px;
  height: 24px;
}

.footer__lk:hover {
  color: var(--color-hover);
  transition: var(--anim);
}
.input {
  border: 1px solid rgba(40, 59, 108, 1);
  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 253, 247, 1);
  transition: var(--anim);
}

.input::placeholder {
  color: rgba(220, 220, 220, 1);
}

.input:hover {
  transition: var(--anim);
  border: 1.6px solid rgba(104, 131, 199, 1);
}

.input:active,
.input:focus-visible {
  transition: var(--anim);
  border: 1.6px solid rgba(104, 131, 199, 1);
  background: rgba(245, 248, 255, 1);
  outline: none;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

option[value="placeholder"] {
  display: none;
}

.custom-select-wrapper::after {
  content: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 10L15 21L25.5 10' stroke='%23283B6C' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 7px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.custom-select-wrapper.open::after {
  transform: rotate(180deg);
  top: 5px;
}

.main-button {
  border-radius: 15px;
  background: rgba(40, 59, 108, 1);
  box-shadow: 0px 0px 11.8px 0px rgba(0, 0, 0, 0.4);
  font-family: Geologica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  color: rgba(255, 253, 247, 1);
  padding: 13px 20px;
  width: 100%;
  max-width: 360px;
  text-transform: uppercase;
  transition: var(--anim);
  cursor: pointer;
}

.main-button:hover {
  background: rgba(104, 131, 199, 1);
  transition: var(--anim);
}

.footer__logo {
  margin-bottom: 20px;
}

@media (min-width: 430px) {
  .footer__copyright {
    text-align: right;
    grid-column: 2/3;
  }
  .footer__logo {
    grid-column: 1/2;
    margin-right: 34px;
    margin-bottom: 0px;
  }

  .footer__social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

@media (min-width: 600px) {
  .intro__bg {
    margin-left: -35px;
    margin-right: -35px;
  }
  .container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.02em;
  }

  .about__img {
    width: 100%;
    max-width: 540px;
    height: auto;
  }

  .about-description__img {
    width: 100%;
    max-width: 470px;
    height: auto;
    margin-bottom: 0;
  }

  .about {
    padding: 100px 0;
    padding-bottom: 63px;
  }

  .reviews__list .swiper-slide {
    max-width: 380px;
    box-shadow: 0px 0px 22.7px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 66px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
  }

  .order__link {
    min-width: 215px;
  }

  .review__container {
    padding-bottom: 40px;
    padding-right: 0;
  }
}

@media (min-width: 1110px) {
  .custom-select-wrapper {
    max-width: 260px;
  }

  .form-callback__inner-flex {
    display: flex;
    flex-wrap: nowrap;
  }
  .reviews {
    padding-top: 62px;
  }

  .reviews__title {
    margin-bottom: -10px;
  }

  .about-description__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 130px;
  }

  .order__links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    flex-direction: row;
  }

  .header__inner-container {
    padding: 0;
  }

  .header__btn {
    display: none;
  }

  .header__nav {
    position: static;
    width: auto;
    transform: translate(0);
  }

  .header__nav-list {
    flex-direction: row;
    column-gap: 25px;
    display: flex;
  }

  .header__nav-social {
    display: none;
  }

  .header__nav {
    padding: 0;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .intro {
    padding-top: 235px;
  }

  .intro__text {
    max-width: 650px;
  }

  .intro__bg {
    background-color: transparent;
  }

  .intro__text-container {
    background: transparent;
    position: relative;
    z-index: 1;

    /* margin-left: -35px;
    margin-right: -35px; */
  }

  .intro__wrapper-img {
    margin: 0;
    position: absolute;
  }

  .intro__inner-text-container {
    padding: 0;
    padding-top: 265px;
  }

  .intro {
    min-height: 710px;
    padding-top: 0;
  }

  .swiper {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-description__wrapper {
    padding: 40px 0;
  }

  .footer__container {
    padding: 50px 0 35px;
    row-gap: 20px;
    grid-template-columns: min-content max-content;
  }

  .footer__copyright {
    width: auto;
    margin-top: 0;
  }

  .footer__logo {
    margin-right: 84px;
  }

  .intro__bg {
    margin-left: 0;
    margin-right: 0;
  }

  .review__container {
    padding-bottom: 60px;
  }

  .form-callback__inner-wrapper {
    flex-wrap: nowrap;
  }

  .order {
    padding: 100px 0 190px;
  }

  .footer__copyright {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    margin-left: 0;
  }

  .footer__social-list {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer__lk {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .form-callback {
    padding: 40px 50px;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .review__container {
    padding-bottom: 60px;
  }

  .swiper {
    margin: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 1260px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    color: rgba(40, 59, 108, 1);
    transition: var(--anim);
    position: absolute;
    top: 50%;
  }

  .swiper-button-prev {
    left: -50px;
  }

  .swiper-button-next {
    right: -50px;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: rgba(104, 131, 199, 1);
    transition: var(--anim);
    cursor: pointer;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    pointer-events: none;
  }

  .swiper-main {
    position: relative;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__wrapper-text {
    margin-bottom: 25px;
  }

  .about-description__wrapper-text {
    margin-bottom: 97px;
  }

  .swiper-button-prev {
    left: -4px;
  }

  .swiper-button-next {
    right: -4px;
  }
}
